main {
    display: flex;
    flex-direction: column;
    height: 100svh;
    width: 100%;
    background-color: #eee;

    header {
        position: fixed;
        z-index: 1;
        display: flex;
        flex-direction: row;
        height: 4rem;
        width: 100%;
        padding-inline: 1rem;
        align-items: center;
        background-color: #eee;

        label {

            .button {
                text-align: center;
                vertical-align: middle;
                line-height: 2.5rem;
                height: 2.5rem;
                width: 2.5rem;
                font-size: 2em;
                border-radius: 0.5rem;
                box-shadow: 2px 2px 2px black;
                background-color: white;
            }
        }
    }
    #toggle-nav {
        display: none;
    }
    #toggle-nav:checked + nav {
        height: 100svh;
    }
    nav {
        position: fixed;
        height: 2rem;
        width: 100%;
        padding-top: 4rem;
        padding-inline: 1rem;
        transition: 0.4s;
        background-color: #eee;
        overflow-y: hidden;
    }
    section {
        width: 100%;
        flex: 1;
        padding: 1rem;
        padding-top: 5rem;
        overflow-y: auto;

        .first {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;

            .one {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                width: 100%;
                
                .two {
                    width: 50%;
                    aspect-ratio: 27/10;
                    border-radius: 0.5rem;
                    background-color: white;
                    box-shadow: 0 0 4px 1px black;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    main {
        flex-direction: row;
        width: clamp(1200px, 95%, 2000px);

        #toggle-nav:checked + nav {
            width: 14rem;
            height: 100%;
        }
        nav {
            height: 100%;
            width: 4rem;
        }
        nav:hover {
            width: 14rem;
        }
        section {
            height: 100%;
            padding-left: 4rem;
            flex: 1;

            .first {
                flex-direction: row;
                .one {
                    width: 50%;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    main {
        width: 100%;

        section {
            padding: 1rem;
            padding-top: 5rem;
            .first {
                flex-direction: column;
                gap: 1rem;
                .one {
                    width: 100%;
                    gap: 1rem;
                    flex-direction: column;
                    .two {
                        width: 100%;
                    }
                }
            }
        }
    }    
}